@import './variables';

@mixin content {
    display: block;
    border-radius: 12px;
    background-color:#fff;
    padding:1.10rem;
    width:100%;
    margin:auto;
    box-shadow: 0px 0px 7px 1px rgb(194, 193, 193);
   }
   .image-container{
    width:100%;
    border-radius: 5px;
    img{
        display:block;
        margin:auto;
        width: 100%;
        border-radius: 8px;
    }
}

.text-container{
    width:100%;
    text-align: auto;
    h1{
        font-size: 1.25rem;
        line-height: 1.50rem;
        color:#080633;
        margin:.8em 0;
    }
    p{
      color:gray; 
      font-size:1.05rem;
      margin-bottom:.8em;
      line-height: 1.50rem;
    }
}