@import '../styles/global';
@import './variables';
@import './font';

body{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $backgroundColor;
    font-size: 10px;
    font-family: "Outfit", serif;
    text-align: center;
}


